# Google Cloud / Vertex AI Agent Platform Settings
GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=elevate-taiwan-cohort-2
GOOGLE_CLOUD_LOCATION=us-central1
MODEL_NAME=gemini-3.7-flash
DEFAULT_LOCATION=US
BIGQUERY_DATA_AGENT_ID=agent_98c36166-3d31-471e-8fce-4dc446069ad7
POLICY_DOCUMENT_STORAGE_BASE_URL=https://storage.cloud.google.com/hr-km-landing-nonprod-elevate-taiwan-cohort-2/incoming/handbook.pdf?authuser=1
